.contact-form {
  margin-top: 0;
  background: var(--clr-white);
  border-radius: var(--radius);
  text-align: center;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  width: 90vw;
  max-width: 35rem;
}

/* @media (max-width: 600px) {
  .contact-form {
    font-size: 0.75rem;
    margin-bottom: 10px;
  }
  .button--container button {
    height: 1.5rem;
    margin: 0.5rem;
  }
  .contact-form h4 {
    padding-top: 0;
    margin: 0;
  }
  .input-wrapper input,
  .input-wrapper textarea {
    font-size: 0.5rem;
  }
} */
