.ProjectsList-wrapper {
  margin: 0 auto;
  width: 80%;
  justify-content: center;
  padding-bottom: 30px;
}

.ProjectsList-project-container {
  width: 500px;
  height: 520px;
  background: linear-gradient(
    to bottom right,
    var(--clr-primary-9),
    rgb(172, 172, 172)
  );
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgb(71, 71, 78);
  margin: 10px auto;
  cursor: pointer;
  justify-content: center;
}

.ProjectsList-wrapper a {
  text-decoration: none;
  color: rgb(107, 60, 60);
  font-weight: bold;
}

.ProjectsList-project-box {
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}
.ProjectsList-project-container h3 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.ProjectsList-project-box .project-overlay {
  height: 100%;
  background: linear-gradient(to bottom right, var(--clr-primary-5), #222);
  text-align: center;
  padding: 10%;
  display: block;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  font-size: 1.25rem;
}
.ProjectsList-project-box:hover .project-overlay {
  opacity: 0.95;
}

.project-credentials {
  color: maroon;
}

@media (max-width: 576px) {
  .ProjectsList-project-container {
    max-width: 320px;
    max-height: 270px;
  }
  .ProjectsList-project-box .project-overlay {
    font-size: 1rem;
  }
  .ProjectsList-project-container h3 {
    font-size: 0.75rem;
  }

  .ProjectsList-project-container {
    margin: 5px;
  }
  .project-stack,
  .project-links {
    display: inline-block;
  }
}
